body {
  margin: 0;
  text-align: center;
}

.back {
  background-color: #faebeb;
  border-radius: 3px;
  box-shadow: #413c69 0px 3px 8px;
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  margin-right: 0.6rem;
  margin-top: 1rem;
  opacity: 0.7;
  padding: 5px;
  position: fixed;
  right: 10px;
  text-decoration: none;
  z-index: 9999;
}

h3 {
  background-color: white;
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 1.5rem;
  text-align: center;
  width: 100%;
}

.projects {
  margin-bottom: 7rem;
}

/*image carousel*/

.picture-carousel {
  height: auto;
  width: 80vw;
}

.slider-wrapper {
  width: 80%;
  margin: auto;
  position: relative;
}

#btn-next {
color: white; 
font-size: 2rem;  
left:86%;  
padding: 0.5rem;    
position: absolute; 
top: 50%; 
transform: translate(0%, -50%); 
}

#btn-prev{
  color: white; 
  font-size: 2rem; 
  padding: 0.5rem; 
  position: absolute; 
  right: 86%;
  top: 50%; 
  transform: translate(0%, -50%); 
}

#btn-prev:hover,
#btn-next:hover {
  background-color: grey;
  cursor: pointer;
  opacity: 0.6;
  }



span {
  background-color: gray;
  border-radius: 50%;
   cursor: pointer; 
   height: 0.6rem;    
   margin-right: 0.5rem;
   width: 0.6rem;
}
span:last-child {
  margin-right: 0;
}

.slide {
  box-shadow: 2px 6px 11px 3px #413c69;
  display: none;
}

.slide.active {
  display: block;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot.active {
  background-color: #000000;
}

.controls {
  background: #404040;
  border: none;
  border-radius: 0.4rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  letter-spacing: 0.4rem;
  margin-top: 0.9rem;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 5rem;
}

.controls:hover {
  background: none;
  box-shadow: 0px 5px 40px -10px #413c69;
  color: #404040;
  font-weight: 700;
  letter-spacing: 0.3rem;
  transition: all 0.3s ease 0s;
}

#text-bar {
  background-color: black;
  display: none;
  line-height: 1rem;
  opacity: 0.7;
  position: absolute; 
 text-align: center; 
  top: 100%;
  transform: translate(0%, -100%); 
  width: 100%;      
}

#description {
 color: white;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin:0.3rem;
  position: relative;
}

/*other projects*/

.other-projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
}

.picture-projects {
  box-shadow: 2px 6px 11px 3px #413c69;
  width: 100%;
}

.picture-projects:hover {
  opacity: 0.7;
}
.text-project {
  font-size: 1rem;
  line-height: 2;
  text-decoration: none;
}

h5 {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  margin: 1rem, 0;
}

.more {
  font-size: 0.9rem;
  margin: 1rem 0.2rem;
}

figcaption {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.4rem;
}

/*links*/

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}
.project-links {
  text-decoration: none;
}

figcaption:hover {
  color: grey;
}

/*footer*/

h6 {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 5px;
  padding-top: 0rem;
}

.iconify {
  color: #413c69;
  margin: 0.2rem 0.5rem 0 0.5rem;
}

.iconify:hover {
  color: grey;
}

footer {
  background-color: #faebeb;
  bottom: 0px;
  box-shadow: #413c69 0px 3px 8px;
  height: 5.8rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.copyright {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  margin: 0;
}
