body {
  margin: 0;
  text-align: center;
}

/*media query*/

@media only screen and (max-width: 420px) {
  .mobBack {
    background-color: white;
    padding: 0.2rem 0 0 0.2rem;
  }
  .back {
    background-color: white;
    box-shadow: #413c69 0px 3px 8px;
    color: #413c69;
    /*float: right;*/
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    position: fixed;
    z-index: 9999;
    right: 10px;
    opacity: 0.7;
  }
  h3 {
    color: #413c69;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }

  .picture-carousel {
    height: 13rem;
    width: 20rem;
  }

  .flex-wrapper {
    display: grid;
    justify-content: center;
    margin: 2rem auto 0.5rem auto;
  }

  .slider-wrapper {
    height: 100%;
    position: relative;
  }

  #btn-prev,
  #btn-next {
    background-color: gray;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    width: 1.5rem;
  }

  #btn-prev:hover,
  #btn-next:hover {
    opacity: 0.6;
  }

  #btn-next {
    left: auto;
    right: 0;
  }

  span {
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    height: 0.5rem;
    margin-right: 0.5rem;
    width: 0.5rem;
  }
  span:last-child {
    margin-right: 0;
  }

  .slide {
    box-shadow: 2px 6px 11px 3px #413c69;
    display: none;
  }

  .slide.active {
    display: block;
  }

  .dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .dot.active {
    background-color: #000000;
  }

  /* MQ play/pause btn*/

  .controls {
    background: #404040;
    border: none;
    border-radius: 0.4rem;
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif;
    font-size: 0.5rem;
    letter-spacing: 0.4rem;
    margin-top: 0.9rem;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 5rem;
  }

  .controls:hover {
    background: none;
    box-shadow: 0px 5px 40px -10px #413c69;
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 0.3rem;
    transition: all 0.3s ease 0s;
  }

  /*other projects*/

  .other-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    position: relative;
    width: 100%;
  }

  .picture-projects {
    box-shadow: 2px 6px 11px 3px #413c69;
    width: 100%;
  }

  .picture-projects:hover {
    opacity: 0.7;
  }
  .text-project {
    font-size: 1rem;
    line-height: 2;
    text-decoration: none;
  }

  h5 {
    color: #413c69;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    margin: 1rem, 0;
  }

  .more {
    font-size: 0.9rem;
    margin: 1rem 0.2rem;
  }

  figcaption {
    color: #413c69;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.4rem;
  }

  /*links*/

  .links {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
  }
  .project-links {
    text-decoration: none;
  }

  figcaption:hover {
    color: grey;
  }

  /*footer*/

  h6 {
    color: #413c69;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    padding-top: 0.5rem;
  }

  .iconify {
    color: #413c69;
    margin: 0.2rem 0.5rem 0 0.5rem;
  }

  .iconify:hover {
    color: grey;
  }

  footer {
    background-color: white;
    box-shadow: #413c69 0px 3px 8px;
    height: 5.8rem;
    width: 100%;
  }

  .copyright {
    color: #413c69;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    margin: 0;
  }
}
