body {
  background-color: white;
  margin: auto;
  text-align: center;
}

header {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header.scroll {
  background-color: #faebeb;
}

.navbar {
  margin-right: 4.45rem;
}
ul {
  display: flex;
  list-style-type: none;
}

.list {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2;
  margin-right: 1.25rem;
  padding: 1.25rem;
  text-decoration: none;
}

.mobile{
  display:none;
}

.HRnav {
  border: 0;
  box-shadow: 0 6px 6px -6px #413c69 inset;
  height: 6px;
  margin-bottom: 0;
}

/*media query*/
@media only screen and (max-width: 420px) {
  header {
    justify-content: center;
    width: 100%;
  }
  .navbar {
    margin-right: 0;
  }
  ul {
    padding: 0;
  }
  .list {
    font-size: 0.9rem;
    margin-right: 0.7rem;
    padding: 0;
    color:white;
    background-color: white;
    box-shadow: #413c69 0px 3px 8px;
    color: #413c69;
    padding: 5px;
  }

   .HRnav {
    height: 0.01rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
.mobile{
  display: inline;
margin-right: 0;
}

.hidden{
  display: none;
}

}

@media only screen and (min-width: 421px) and (max-width: 770px) {
  header {
    width: 100%;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .list {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0;
  }
  .HRnav {
    height: 0.125rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }
}

/*end of media query*/

/*Welcom section*/

.welcome-section {
  padding-top: 2.5rem;
  position: relative;
  text-align: center;
  /*z-index: -1; /* image will be hehind the text*/
}

.mobile-photo {
  display: none;
}
.my_photo {
  height: auto; /*makes media responsive*/
  padding-top: 0.93rem;
  width: 90%;
}

.hey {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #413c69;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

h2 {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 0;
}

.twinkle{
  animation-iteration-count: infinite ;
}

.but1 {
  animation-duration: 2s;
animation-name: twinkle;
cursor: url("../Images/net.png"), pointer;
  height: 5rem;
  left: 22%;
  position: absolute;
  top: 36%;
  transform: rotate(-30deg);
  width: 5rem;
  
}

.but2 {
  animation-duration: 2.5s;
  animation-name: twinkle;
  cursor: url("../Images/net.png"), pointer;
  height: 6rem;
  left: 25%;
  position: absolute;
  top: 13%;
  transform: rotate(-30deg);
  width: 6rem;
  
}

.but3 {
animation-duration: 3s;
animation-name: twinkle;
cursor: url("../Images/net.png"), pointer;
  height: 6.25rem;
  position: absolute;
  right: 25%;
  top: 15%;
  transform: rotate(30deg);
  width: 6.25rem;
  
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}


/*media query*/
@media only screen and (max-width: 420px) {
  .welcome-section {
    padding-top: 0;
  }

  .mobile-photo {
    display: inline-block;
    height: 100vh;
    width: 100%;
  }
  .my_photo {
    display: none;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .but1,.but2,.but3 {
    display: none;
  }
  
}

@media only screen and (min-width: 421px) and (max-width: 770px) {
  .welcome-section {
    padding-top: 1.6rem;
  }
  h1 {
    font-size:3.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .but1 {
    height: 2.5rem;
    width: 2.5rem;
  }
  .but2 {
    height: 3.5rem;
    top: 14%;
    width: 3.5rem;
  }
  .but3 {
    height: 3.7rem;
    top: 17%;
    width: 3.7rem;
  }
}

/*end of media query*/

/*section About Me*/

.main_section {
  margin-bottom: 4rem;
}

.About-me {
  position: relative;
}
.photo1 {
  height: auto;
  width: 100%;
}

.text-about-me {
  height: 80%;
  position: absolute;
  width: 60%;
}

.title-Aboutme {
  color: #ad62aa;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.article {
  height: 100%;
  overflow-x: auto;
  position: absolute;
  top: 4.6875rem;
  text-align: center;
  width: 100%;
}

.article::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  width: 0px;
}

.text {
  font-family: "Domine", serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.6;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}

.dots {
  border-color: #ad62aa;
  border-style: dotted none none;
  border-width: 0.5rem;
  width: 5%;
}

.title-MyWhy {
  color: #ad62aa;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.why {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  position: relative;
  width: 100%;
}

.picture-balloon {
  height: auto;
  width: 100%;
}

.picture {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Why-text {
  background-color: white;
  grid-column-start: 3;
  grid-column-end: -1;
  margin-top: 4.5rem;
  position: relative;
}

.article_My_Why {
  height: 100%;
  margin: 0;
  overflow-x: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.article_My_Why::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  width: 0px;
}


.textWhy {
  font-family: "Domine", serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.6;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}

/*Quotes*/

#quote1 {
  color: black;
  border: 1px solid #413c69;
  background-color: #faebeb;
  height: 7.5rem;
  margin: 50px auto;
  padding: 0.9rem;
  position: relative;
  text-align: center;
  width: 80%;
}

#quote2 {
  color: black;
  background-color: #faebeb;
  border: 1px solid #413c69;
  height: 7.5rem;
  margin: 100px auto;
  padding: 0.9rem;
  position: relative;
  text-align: center;
  width: 90%;
}

cite {
  background-color: white;
  color: #413c69;
  font-size: 1.25rem;
  padding: 0 0.625rem;
  position: relative;
  top: -1.75rem;
}
.corner {
  background: white;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 1.875rem;
  position: absolute;
  transform: rotate(-45deg);
  width: 1.875rem;
}

#left_top {
  border-color: transparent transparent #413c69 transparent;
  left: -1rem;
  top: -1rem;
}

#right_top {
  border-color: transparent transparent transparent #413c69;
  right: -1rem;
  top: -1rem;
}

#left_bottom {
  bottom: -1rem;
  border-color: transparent #413c69 transparent transparent;
  left: -1rem;
}
#right_bottom {
  border-color: #413c69 transparent transparent transparent;
  bottom: -1rem;
  right: -1rem;
}

blockquote {
  margin: 0;
}
.quote {
  color: #413c69;
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/*media query*/

@media only screen and (max-width: 420px) {
  .main_section {
    margin-bottom: 1.5rem;
  }

  /* MQ quote*/
  #quote2 {
    height: 4rem;
    margin: 2rem auto;
    width: 80%;
  }

  cite {
    font-size: 0.8rem;
    top: -1.5rem;
  }
  .quote {
    font-size: 1rem;
  }

  .corner {
    height: 0.8rem;
    width: 0.8rem;
  }
  #left_top {
    left: -0.5rem;
    top: -0.5rem;
  }

  #right_top {
    right: -0.5rem;
    top: -0.5rem;
  }

  #left_bottom {
    bottom: -0.5rem;
    left: -0.5rem;
  }
  #right_bottom {
    bottom: -0.5rem;
    right: -0.5rem;
  }
}

@media only screen and (min-width: 421px) and (max-width: 770px) /*and (orientation: landscape)*/ {
  .title-Aboutme{
    font-size: 2.5rem;
  }
  
  .text{
    margin:0;
  }
  
  .main_section {
    margin-bottom: 2rem;
  }

  .article{
    top:3.5rem;
  }

  .title-MyWhy{
    font-size: 2.5rem;
  }
  
  /* MQ why section*/
  .Why-text {
    margin: 0;
  }
.text{
  text-align: justify;
}
  .textWhy {
    font-family: "Domine", serif;
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
  }
 

  /* MQ quote*/
  #quote2 {
    height: 6.5rem;
    margin: 3.5rem auto 2rem auto;
    width: 80%;
  }

  cite {
    font-size: 1rem;
    top: -1.5rem;
  }
  .quote {
    font-size: 2rem;
  }

  .corner {
    height: 0.9rem;
    width: 0.9rem;
  }
  #left_top {
    left: -0.5rem;
    top: -0.5rem;
  }

  #right_top {
    right: -0.5rem;
    top: -0.5rem;
  }

  #left_bottom {
    bottom: -0.5rem;
    left: -0.5rem;
  }
  #right_bottom {
    bottom: -0.5rem;
    right: -0.5rem;
  }
}
/*end of media query*/

/*My project section*/

h3 {
  color: #ad62aa;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  width: 100%;
}
h3 {
  /*without second h3 user agent stylesheet owerwrite my css :( */
  color: #ad62aa;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

/*image carousel*/

.picture-carousel {
  width: 100%;
  height: auto;
}

.slider-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
}

#btn-next {
  color: white; 
  font-size: 4rem;  
  left:86%;  
  padding: 0.5rem;    
  position: absolute; 
  top: 40%; 
  transform: translate(0%, -50%); 
  }
  
  #btn-prev{
    color: white; 
    font-size: 4rem; 
    padding: 0.5rem; 
    position: absolute; 
    right: 86%;
    top: 40%; 
    transform: translate(0%, -50%); 
  }
  
  #btn-prev:hover,
  #btn-next:hover {
    background-color: grey;
    cursor: pointer;
    opacity: 0.6;
    }

    span {
      background-color: gray;
      border-radius: 50%;
       cursor: pointer; 
       height: 1rem;    
       margin-right: 0.5rem;
       width: 1rem;
    }
    span:last-child {
      margin-right: 0;
    }
    
    .slide {
      box-shadow: 2px 6px 11px 3px #413c69;
      display: none;
    }
    
    .slide.active {
      display: block;
    }
    
    .dots-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    
    .dot.active {
      background-color: #000000;
    }
    
    .controls {
      background: #404040;
      border: none;
      border-radius: 0.4rem;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 0.5rem;
      letter-spacing: 0.4rem;
      margin-top: 0.9rem;
      padding: 0.5rem 0.1rem 0.5rem 0.5rem;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      width: 5rem;
    }
    
    .controls:hover {
      background: none;
      box-shadow: 0px 5px 40px -10px #413c69;
      color: #404040;
      font-weight: 700;
      letter-spacing: 0.3rem;
    }


    #text-bar {
      background-color: black;
      display: none;
      line-height: 36px;
      opacity: 0.7;
      position: absolute; 
     text-align: center; 
      top: 100%;
      transform: translate(0%, -100%); 
      width: 100%;      
    }
    
    #description {
     color: white;
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      margin:0.7rem;
      position: relative;
    }
    
/*other projects*/

.other-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  position: relative;

 width: 100%;
}

.picture-projects {
  box-shadow: 2px 6px 11px 3px #413c69;
  width: 100%;
}

.picture-projects:hover {
  opacity: 0.7;
}

figcaption {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  line-height: 2;
  
}

.text-project {
  text-decoration: none;
}

/*links*/
h5 {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}
.project-links {
  text-decoration: none;
}

figcaption:hover {
  color: grey;
}

/*footer*/

h6 {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.iconify {
  color: #413c69;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.iconify:hover {
  color: grey;
}

footer {
  background-color: #faebeb;
  height: 7.5rem;
  width: 100%;
}

.copyright {
  color: #413c69;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem 0 0.5rem 0;
}

/*media query*/

@media only screen and (min-width: 421px) and (max-width: 770px) /*and (orientation: landscape) */{
  h3 {
    font-size: 3rem;
  }

  /* MQplay/pause btn*/

  .controls {
    font-size: 0.5rem;
    margin-top: 0.9rem;
    padding: 0.5rem;
    width: 7rem;
  }
  .controls:hover {
    letter-spacing: 0.3rem;
  }

  #description{
    font-size: 1.3rem;
  }

  .other-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 2rem;
    width: 60%;
  }

  .picture-projects {
    width: 100%;
  }
  .text-project {
    font-size: 1.5rem;
  }
  h5 {
    margin: 1rem 0;
  }
  .more {
    font-size: 1.2rem;
    margin: 1rem 0.2rem;
}
.links{
  margin-bottom: 1rem;;
}
}